## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
#Import Packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
%matplotlib inline

In [4]:
# Loading in Avaition_data.csv
df = pd.read_csv('data/Aviation_Data.csv')

/Users/michaelromanski/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# Creating a new DataFrame to keep original intact
aviation_df = df.copy()

In [6]:
# Selecting relevant columns for analysis
aviation_df = aviation_df.drop(['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.Category', 'Publication.Date', 'Air.carrier', 'Broad.phase.of.flight', 'Event.Id', 'Accident.Number', 'Investigation.Type', 'Registration.Number', 'Schedule'], axis=1)
aviation_df

,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Report.Status
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,No,1.0,Reciprocating,NaN,Personal,2.0,0.0,0.0,0.0,UNK,Probable Cause
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,No,1.0,Reciprocating,NaN,Personal,4.0,0.0,0.0,0.0,UNK,Probable Cause
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,No,1.0,Reciprocating,NaN,Personal,3.0,NaN,NaN,NaN,IMC,Probable Cause
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,No,1.0,Reciprocating,NaN,Personal,2.0,0.0,0.0,0.0,IMC,Probable Cause
4,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,No,NaN,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,2022-12-26,"Annapolis, MD",United States,Minor,NaN,PIPER,PA-28-151,No,NaN,NaN,091,Personal,0.0,1.0,0.0,0.0,NaN,NaN
90344,2022-12-26,"Hampton, NH",United States,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
90345,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,091,Personal,0.0,0.0,0.0,1.0,VMC,NaN
90346,2022-12-26,"Morgan, UT",United States,NaN,NaN,CESSNA,210N,No,NaN,NaN,091,Personal,0.0,0.0,0.0,0.0,NaN,NaN
90347,2022-12-29,"Athens, GA",United States,Minor,NaN,PIPER,PA-24-260,No,NaN,NaN,091,Personal,0.0,1.0,0.0,1.0,NaN,NaN

In [7]:
# Replacing dot to space in column names
aviation_df = aviation_df.rename(columns=lambda x: x.replace('.', ' '))

In [8]:
# Capitalizing all values in Make
aviation_df['Make'] = aviation_df['Make'].str.capitalize()

In [9]:
# Capitalizing all columns
aviation_df = aviation_df.rename(columns=str.capitalize)

In [10]:
# Changing Event.Date to datetime and creating a year column
aviation_df['Event date'] = pd.to_datetime(aviation_df['Event date'])
aviation_df['Year'] = aviation_df['Event date'].dt.year
aviation_df['Year'] = aviation_df['Year'].astype('Int64')

In [11]:
# Filling all Total Injury-related columns Null data with 0 (the median)
aviation_df.fillna(value={'Total fatal injuries': 0, 'Total serious injuries': 0, 'Total minor injuries': 0, 'Total uninjured': 0}, inplace=True)

In [12]:
#Drop Amateur Built projects because we will not be recommending amateur products to our client. 
aviation_df.drop(aviation_df[aviation_df['Amateur built'] == 'Yes'].index, inplace = True)

In [13]:
#No longer need column since all remaining entries are professionally built
aviation_df = aviation_df.drop(['Amateur built'], axis = 1)

In [14]:
# Drop the values in 'Make' that constitute less than 1% of the total data in 'Make' column
aviation_df = aviation_df[~aviation_df['Make'].isin(aviation_df['Make'].value_counts()[aviation_df['Make'].value_counts() < 84].index)]

In [15]:
# Dropping all rows containing null values from Make, as without a Plane make, the other information is invalid
df.dropna(subset=['Make'], inplace=True)

In [16]:
#Change “Number of engines” nulls to 1, as that is the mode and has a minimal impact on the data distribution
aviation_df['Number of engines'].fillna(1, inplace=True)

In [17]:
aviation_df.dropna(subset = ['Year'], inplace=True)

In [18]:
# Filling in remaining null values in aviation_df with Unknown
aviation_df.fillna('Unknown', inplace=True)

In [19]:
# WE WILL WORK ON THIS TOMORROW!
#df['Location'] = df['Location'].str[-2:]

In [20]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72290 entries, 0 to 90347
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event date              72290 non-null  datetime64[ns]
 1   Location                72290 non-null  object
 2   Country                 72290 non-null  object
 3   Injury severity         72290 non-null  object
 4   Aircraft damage         72290 non-null  object
 5   Make                    72290 non-null  object
 6   Model                   72290 non-null  object
 7   Number of engines       72290 non-null  float64
 8   Engine type             72290 non-null  object
 9   Far description         72290 non-null  object
 10  Purpose of flight       72290 non-null  object
 11  Total fatal injuries    72290 non-null  float64
 12  Total serious injuries  72290 non-null  float64
 13  Total minor injuries    72290 non-null  float64
 14  Total uninjured         72290 non-null  float64
 15  Weather condition       72290 non-null  object
 16  Report status           72290 non-null  object
 17  Year                    72290 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(5), object(11)
memory usage: 10.5+ MB

In [21]:
aviation_df.head()

,Event date,Location,Country,Injury severity,Aircraft damage,Make,Model,Number of engines,Engine type,Far description,Purpose of flight,Total fatal injuries,Total serious injuries,Total minor injuries,Total uninjured,Weather condition,Report status,Year
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,UNK,Probable Cause,1948
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,1.0,Reciprocating,Unknown,Personal,4.0,0.0,0.0,0.0,UNK,Probable Cause,1962
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,1.0,Reciprocating,Unknown,Personal,3.0,0.0,0.0,0.0,IMC,Probable Cause,1974
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,IMC,Probable Cause,1977
4,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,1.0,Unknown,Unknown,Personal,1.0,2.0,0.0,0.0,VMC,Probable Cause,1979

In [22]:
aviation_df.describe()

,Number of engines,Total fatal injuries,Total serious injuries,Total minor injuries,Total uninjured,Year
count,72290.000000,72290.000000,72290.000000,72290.000000,72290.000000,72290.000000
mean,1.151612,0.584797,0.237626,0.314760,5.644557,1998.229990
std,0.442558,5.444274,1.529045,1.773637,29.348785,11.710404
min,0.000000,0.000000,0.000000,0.000000,0.000000,1948.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,1988.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000,1997.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000,2007.000000
max,4.000000,349.000000,161.000000,200.000000,699.000000,2022.000000

In [23]:
aviation_df['Engine type'].value_counts()

Reciprocating      57123
Unknown             6863
Turbo Shaft         2992
Turbo Prop          2750
Turbo Fan           2047
Turbo Jet            495
Geared Turbofan       12
None                   6
UNK                    1
NONE                   1
Name: Engine type, dtype: int64

In [24]:
#fig, axes = plt.subplots(figsize = (10,6), nrows = 2, ncols = 2)

#axes1 = axes[0][0]
#axes2 = axes[0][1]
#axes3 = axes[1][0]
#axes4 = axes[1][1]

#axes1.bar(x = aviation_df['Engine type'], height = aviation_df['Total fatal injuries'])
#plt.xticks(rotation = 45)
#axes2.bar(x = aviation_df['Engine type'], height = aviation_df['Total serious injuries'])
#plt.xticks(rotation = 45)
#axes3.bar(x = aviation_df['Engine type'], height = aviation_df['Total minor injuries'])
#plt.xticks(rotation = 45)
#axes4.bar(x = aviation_df['Engine type'], height = aviation_df['Total uninjured'])
#plt.xticks(rotation = 45)
#plt.show()

In [25]:
#fig, axes = plt.subplots(figsize = (10,6), nrows = 2, ncols = 2)

#axes1 = axes[0][0]
#axes2 = axes[0][1]
#axes3 = axes[1][0]
#axes4 = axes[1][1]

#axes1.bar(x = aviation_df['Number of engines'], height = aviation_df['Total fatal injuries'])
#axes2.bar(x = aviation_df['Number of engines'], height = aviation_df['Total serious injuries'])
#axes3.bar(x = aviation_df['Number of engines'], height = aviation_df['Total minor injuries'])
#axes4.bar(x = aviation_df['Number of engines'], height = aviation_df['Total uninjured'])
#plt.show()

In [26]:
aviation_df['Total passengers'] = aviation_df['Total fatal injuries'] + aviation_df['Total serious injuries'] + aviation_df['Total minor injuries'] + aviation_df['Total uninjured']

In [27]:
aviation_df = aviation_df[aviation_df['Total passengers'] != 0]

In [28]:
mean_num_passengers_single = aviation_df.loc[aviation_df['Number of engines'] == 1, 'Total passengers'].mean()
mean_num_passengers_single

3.2611208929935884

In [33]:
aviation_df.head()

,Event date,Location,Country,Injury severity,Aircraft damage,Make,Model,Number of engines,Engine type,Far description,Purpose of flight,Total fatal injuries,Total serious injuries,Total minor injuries,Total uninjured,Weather condition,Report status,Year,Total passengers
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,UNK,Probable Cause,1948,2.0
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,1.0,Reciprocating,Unknown,Personal,4.0,0.0,0.0,0.0,UNK,Probable Cause,1962,4.0
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,1.0,Reciprocating,Unknown,Personal,3.0,0.0,0.0,0.0,IMC,Probable Cause,1974,3.0
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,IMC,Probable Cause,1977,2.0
4,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,1.0,Unknown,Unknown,Personal,1.0,2.0,0.0,0.0,VMC,Probable Cause,1979,3.0

In [37]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71164 entries, 0 to 90347
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event date              71164 non-null  datetime64[ns]
 1   Location                71164 non-null  object
 2   Country                 71164 non-null  object
 3   Injury severity         71164 non-null  object
 4   Aircraft damage         71164 non-null  object
 5   Make                    71164 non-null  object
 6   Model                   71164 non-null  object
 7   Number of engines       71164 non-null  float64
 8   Engine type             71164 non-null  object
 9   Far description         71164 non-null  object
 10  Purpose of flight       71164 non-null  object
 11  Total fatal injuries    71164 non-null  float64
 12  Total serious injuries  71164 non-null  float64
 13  Total minor injuries    71164 non-null  float64
 14  Total uninjured         71164 non-null  float64
 15  Weather condition       71164 non-null  object
 16  Report status           71164 non-null  object
 17  Year                    71164 non-null  Int64
 18  Total passengers        71164 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(6), object(11)
memory usage: 10.9+ MB

In [38]:
aviation_df["Fatal percentage"] = (aviation_df["Total fatal injuries"] / aviation_df['Total passengers'] ) * 100

In [39]:
aviation_df.groupby('Number of engines')['Total fatal injuries'].sum()

Number of engines
0.0      308.0
1.0    30171.0
2.0     9372.0
3.0      769.0
4.0     1655.0
Name: Total fatal injuries, dtype: float64

In [40]:
aviation_df['Number of engines'].value_counts()

1.0    60202
2.0     9405
0.0      728
3.0      443
4.0      386
Name: Number of engines, dtype: int64

In [42]:
aviation_df.head()

,Event date,Location,Country,Injury severity,Aircraft damage,Make,Model,Number of engines,Engine type,Far description,Purpose of flight,Total fatal injuries,Total serious injuries,Total minor injuries,Total uninjured,Weather condition,Report status,Year,Total passengers,Fatal percentage
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,UNK,Probable Cause,1948,2.0,100.000000
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,1.0,Reciprocating,Unknown,Personal,4.0,0.0,0.0,0.0,UNK,Probable Cause,1962,4.0,100.000000
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,1.0,Reciprocating,Unknown,Personal,3.0,0.0,0.0,0.0,IMC,Probable Cause,1974,3.0,100.000000
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,IMC,Probable Cause,1977,2.0,100.000000
4,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,1.0,Unknown,Unknown,Personal,1.0,2.0,0.0,0.0,VMC,Probable Cause,1979,3.0,33.333333

In [44]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71164 entries, 0 to 90347
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event date              71164 non-null  datetime64[ns]
 1   Location                71164 non-null  object
 2   Country                 71164 non-null  object
 3   Injury severity         71164 non-null  object
 4   Aircraft damage         71164 non-null  object
 5   Make                    71164 non-null  object
 6   Model                   71164 non-null  object
 7   Number of engines       71164 non-null  float64
 8   Engine type             71164 non-null  object
 9   Far description         71164 non-null  object
 10  Purpose of flight       71164 non-null  object
 11  Total fatal injuries    71164 non-null  float64
 12  Total serious injuries  71164 non-null  float64
 13  Total minor injuries    71164 non-null  float64
 14  Total uninjured         71164 non-null  float64
 15  Weather condition       71164 non-null  object
 16  Report status           71164 non-null  object
 17  Year                    71164 non-null  Int64
 18  Total passengers        71164 non-null  float64
 19  Fatal percentage        71164 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(7), object(11)
memory usage: 11.5+ MB

In [45]:
grouped_df = aviation_df.groupby("Number of engines").agg({"Total fatal injuries": "sum", "Total passengers": "sum"})

In [47]:
grouped_df.head()

,Total fatal injuries,Total passengers,Percentage chance of fatal injury
Number of engines,,,
0.0,308.0,3176.0,9.697733
1.0,30171.0,196326.0,15.367807
2.0,9372.0,195043.0,4.805094
3.0,769.0,52842.0,1.455282
4.0,1655.0,42865.0,3.860959

In [ ]:
single_engine_planes = aviation_df[aviation_df['Number of engines'] == 1]
total_single_engine_planes = single_engine_planes.shape[0]

In [50]:

total_fatalities_single = single_engine_planes['Total fatal injuries'].sum()
fatalities_per_accident_single = total_fatalities_single / total_single_engine_planes
fatality_single_engine_per = ( fatalities_per_accident_single/ mean_num_passengers_single) * 100
fatality_single_engine_per

15.367806607377524

In [51]:
aviation_df.head()

,Event date,Location,Country,Injury severity,Aircraft damage,Make,Model,Number of engines,Engine type,Far description,Purpose of flight,Total fatal injuries,Total serious injuries,Total minor injuries,Total uninjured,Weather condition,Report status,Year,Total passengers,Fatal percentage
0,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,UNK,Probable Cause,1948,2.0,100.000000
1,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,1.0,Reciprocating,Unknown,Personal,4.0,0.0,0.0,0.0,UNK,Probable Cause,1962,4.0,100.000000
2,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,1.0,Reciprocating,Unknown,Personal,3.0,0.0,0.0,0.0,IMC,Probable Cause,1974,3.0,100.000000
3,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,1.0,Reciprocating,Unknown,Personal,2.0,0.0,0.0,0.0,IMC,Probable Cause,1977,2.0,100.000000
4,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,1.0,Unknown,Unknown,Personal,1.0,2.0,0.0,0.0,VMC,Probable Cause,1979,3.0,33.333333

In [52]:
total_serious_single = single_engine_planes['Total serious injuries'].sum()
serious_per_accident_single = total_serious_single / total_single_engine_planes
serious_single_engine_per = (serious_per_accident_single / mean_num_passengers_single) * 100
serious_single_engine_per

6.796858286727178

In [53]:
total_minor_single = single_engine_planes['Total minor injuries'].sum()
minor_per_accident_single = total_minor_single / total_single_engine_planes
minor_single_engine_per = (minor_per_accident_single / mean_num_passengers_single) * 100
minor_single_engine_per

8.547517903894542

In [54]:
total_uninjured_single = single_engine_planes['Total uninjured'].sum()
uninjured_per_accident_single = total_uninjured_single / total_single_engine_planes
uninjured_single_engine_per = (uninjured_per_accident_single / mean_num_passengers_single) * 100
uninjured_single_engine_per

69.28781720200075

In [55]:
mean_num_passengers_two = aviation_df.loc[aviation_df['Number of engines'] == 2, 'Total passengers'].mean()
mean_num_passengers_two

20.738224348750663

In [56]:
two_engine_planes = aviation_df[aviation_df['Number of engines'] == 2]
total_two_engine_planes = two_engine_planes.shape[0]

In [57]:

total_fatalities_two = two_engine_planes['Total fatal injuries'].sum()
fatalities_per_accident_two = total_fatalities_two / total_two_engine_planes
fatality_two_engine_per = ( fatalities_per_accident_two/ mean_num_passengers_two) * 100
fatality_two_engine_per

4.805094261265465

In [ ]:
total_serious_two = two_engine_planes['Total serious injuries'].sum()
serious_per_accident_two = total_serious_two / total_two_engine_planes
serious_two_engine_per = ( serious_per_accident_two/ mean_num_passengers_two) * 100
serious_two_engine_per

In [ ]:
total_minor_two = two_engine_planes['Total minor injuries'].sum()
minor_per_accident_two = total_minor_two / total_two_engine_planes
minor_two_engine_per = ( minor_per_accident_two/ mean_num_passengers_two) * 100
minor_two_engine_per

In [ ]:
total_uninjured_two = two_engine_planes['Total uninjured'].sum()
uninjured_per_accident_two = total_uninjured_two / total_two_engine_planes
uninjured_two_engine_per = ( uninjured_per_accident_two/ mean_num_passengers_two) * 100
uninjured_two_engine_per

In [ ]:
mean_num_passengers_three = aviation_df.loc[aviation_df['Number of engines'] == 3, 'Total passengers'].mean()
mean_num_passengers_three

In [ ]:
three_engine_planes = aviation_df[aviation_df['Number of engines'] == 3]
total_three_engine_planes = three_engine_planes.shape[0]

In [ ]:
total_fatalities_three = three_engine_planes['Total fatal injuries'].sum()
fatalities_per_accident_three = total_fatalities_three / total_three_engine_planes
fatality_three_engine_per = ( fatalities_per_accident_three/ mean_num_passengers_three) * 100
fatality_three_engine_per

In [ ]:
total_serious_three = three_engine_planes['Total serious injuries'].sum()
serious_per_accident_three = total_serious_three / total_three_engine_planes
serious_three_engine_per = ( serious_per_accident_three/ mean_num_passengers_three) * 100
serious_three_engine_per

In [ ]:
total_minor_three = three_engine_planes['Total minor injuries'].sum()
minor_per_accident_three = total_minor_three / total_three_engine_planes
minor_three_engine_per = ( minor_per_accident_three/ mean_num_passengers_three) * 100
minor_three_engine_per

In [ ]:
total_uninjured_three = three_engine_planes['Total uninjured'].sum()
uninjured_per_accident_three = total_uninjured_three / total_three_engine_planes
uninjured_three_engine_per = ( uninjured_per_accident_three/ mean_num_passengers_three) * 100
uninjured_three_engine_per

In [ ]:
mean_num_passengers_four = aviation_df.loc[aviation_df['Number of engines'] == 4, 'Total passengers'].mean()
mean_num_passengers_four

In [ ]:
four_engine_planes = aviation_df[aviation_df['Number of engines'] == 4]
total_four_engine_planes = four_engine_planes.shape[0]

In [ ]:
total_fatalities_four = four_engine_planes['Total fatal injuries'].sum()
fatalities_per_accident_four = total_fatalities_four / total_four_engine_planes
fatality_four_engine_per = ( fatalities_per_accident_four/ mean_num_passengers_four) * 100
fatality_four_engine_per

In [ ]:
total_serious_four = four_engine_planes['Total serious injuries'].sum()
serious_per_accident_four = total_serious_four / total_four_engine_planes
serious_four_engine_per = ( serious_per_accident_four/ mean_num_passengers_four) * 100
serious_four_engine_per

In [ ]:
total_minor_four = four_engine_planes['Total minor injuries'].sum()
minor_per_accident_four = total_minor_four / total_four_engine_planes
minor_four_engine_per = ( minor_per_accident_four/ mean_num_passengers_four) * 100
minor_four_engine_per

In [ ]:
total_uninjured_four = four_engine_planes['Total uninjured'].sum()
uninjured_per_accident_four = total_uninjured_four / total_four_engine_planes
uninjured_four_engine_per = ( uninjured_per_accident_four/ mean_num_passengers_four) * 100
uninjured_four_engine_per

In [ ]:
mean_num_passengers_zero = aviation_df.loc[aviation_df['Number of engines'] == 0, 'Total passengers'].mean()
mean_num_passengers_zero

In [ ]:
zero_engine = aviation_df[aviation_df['Number of engines'] == 0]
total_zero_engine = zero_engine.shape[0]

In [ ]:
total_fatalities_zero = zero_engine['Total fatal injuries'].sum()
fatalities_per_accident_zero = total_fatalities_zero / total_zero_engine
fatality_zero_engine_per = ( fatalities_per_accident_zero/ mean_num_passengers_zero) * 100
fatality_zero_engine_per

In [ ]:
total_serious_zero = zero_engine['Total serious injuries'].sum()
serious_per_accident_zero = total_serious_zero / total_zero_engine
serious_zero_engine_per = ( serious_per_accident_zero/ mean_num_passengers_zero) * 100
serious_zero_engine_per

In [ ]:
total_minor_zero = zero_engine['Total minor injuries'].sum()
minor_per_accident_zero = total_minor_zero / total_zero_engine
minor_zero_engine_per = ( minor_per_accident_zero/ mean_num_passengers_zero) * 100
minor_zero_engine_per

In [ ]:
total_uninjured_zero = zero_engine['Total uninjured'].sum()
uninjured_per_accident_zero = total_uninjured_zero / total_zero_engine
uninjured_zero_engine_per = ( uninjured_per_accident_zero/ mean_num_passengers_zero) * 100
uninjured_zero_engine_per

In [ ]:
fatality_percent = [fatality_zero_engine_per, fatality_single_engine_per, fatality_two_engine_per,
                     fatality_three_engine_per, fatality_four_engine_per]

In [ ]:
serious_percent = [serious_zero_engine_per, serious_single_engine_per, serious_two_engine_per,
                     serious_three_engine_per, serious_four_engine_per]

In [ ]:
minor_percent = [minor_zero_engine_per, minor_single_engine_per, minor_two_engine_per,
                     minor_three_engine_per, minor_four_engine_per]

In [ ]:
uninjured_percent = [uninjured_zero_engine_per, uninjured_single_engine_per, uninjured_two_engine_per,
                     uninjured_three_engine_per, uninjured_four_engine_per]

In [ ]:
overall_injury_0 = fatality_zero_engine_per + serious_zero_engine_per + minor_zero_engine_per

In [ ]:
overall_injury_1 = fatality_single_engine_per + serious_single_engine_per + minor_single_engine_per

In [ ]:
overall_injury_2 = fatality_two_engine_per + serious_two_engine_per + minor_two_engine_per

In [ ]:
overall_injury_3 = fatality_three_engine_per + serious_three_engine_per + minor_three_engine_per

In [ ]:
overall_injury_4 = fatality_four_engine_per + serious_four_engine_per + minor_four_engine_per

In [ ]:
overall_injury = [overall_injury_0, overall_injury_1, overall_injury_2, overall_injury_3, overall_injury_4]

In [ ]:
num_engines = [0, 1, 2, 3, 4]

In [ ]:
fig, axes = plt.subplots(figsize = (10,6), nrows = 2, ncols = 2)

axes1 = axes[0][0]
axes2 = axes[0][1]
axes3 = axes[1][0]
axes4 = axes[1][1]

axes1.bar(num_engines, fatality_percent)
axes1.set_title('Chance of Fatal Injury')
axes2.bar(num_engines, serious_percent)
axes2.set_title('Chance of Serious Injury')
axes3.bar(num_engines, minor_percent)
axes3.set_title('Chance of Minor Injury')
axes4.bar(num_engines, uninjured_percent)
axes4.set_title('Chance of No Injury');

In [ ]:
fig, ax = plt.subplots(figsize = (10,6))

ax.bar(num_engines, overall_injury)

In [ ]:
#fig, axes = plt.subplots(figsize = (10,6), nrows = 2, ncols = 2)

#axes1 = axes[0][0]
#axes2 = axes[0][1]
#axes3 = axes[1][0]
#axes4 = axes[1][1]

#axes1 = sns.boxplot(x='Number of engines', y="Total fatal injuries", data=aviation_df)
#axes2.boxplot(x = aviation_df['Number of engines'], height = aviation_df['Total serious injuries'])
#axes3.boxplot(x = aviation_df['Number of engines'], height = aviation_df['Total minor injuries'])
#axes4.boxplot(x = aviation_df['Number of engines'], height = aviation_df['Total uninjured'])
#plt.show()

In [ ]:
aviation_df.head()

In [ ]:
aviation_df.shape